body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.music{
  font-size: 10em;
  animation: music .5s infinite alternate linear;
}

@keyframes music {
  from{
    transform: scale(.7);
  }
  to{
    transform: scale(1);
  }
}